<div class="container-fluid">
  <div class="gradient">
  </div>
  <div class="devise">
  <div class="col-md-2 col-md-offset-5 col-xs-8 col-xs-offset-2">
    <h2 class="center labe">Sign Up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :name, class:"labe"  %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control transparent-input" %>
    </div><br />

    <div class="field">
      <%= f.label :email, class:"labe"  %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control transparent-input" %>
    </div><br />

    <div class="field">
      <%= f.label :password, class:"labe"  %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control transparent-input" %>
    </div><br />

    <div class="field">
      <%= f.label :password_confirmation, class:"labe"  %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control transparent-input"%>
    </div><br />

    <div class="actions">
      <%= f.submit "Sign up",class: "btn btn-raised btn-info" %>
    </div><br />
  <% end %>

  <%= render "devise/shared/links" %>
</div>
 </div>
</div>