<div class="show panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <br />
        <h1 class="center title review_title"><%= @movie.title %></h1>
<!--         <div class="col-md-8 ">
          <h5> <%= @movie.genre %> </h5>
        </div>
        <div class="col-md-4">
          <h5> <%= @movie.movie_length %> </h5>
        </div> -->
        <%= image_tag @movie.image.url(:medium) %>
        <br /><br />
      </div>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <h3 class="sub-headings"> Review: </h3>
    <h4 class="description"><%= @movie.description %></h4>
    <h3 class="sub-headings"> User Reviews: </h3>
    
    <% if @movie.reeviews.blank? %>
      <h5 class="description">No reviews just yet, would you like to add the first! <%= link_to "Sign In", new_user_session_path, class:"btn btn-raised btn-info" %> </h5>
    <% else %>
      <% @movie.reeviews.each do |review| %>
        <div class="reviews">
          <div class="col-md-3">
            <%= review.user.email %>
          </div>
          <div class="col-md-7" >
            <div class="col-md-2">
              <h6><%= review.rating %> </h6>
            </div>
            <div class="col-md-10">
              <% if review.user == current_user %>
                <%= link_to edit_movie_reeview_path({id: review.id, movie_id: @movie.id}) do %>
                  <i class="material-icons">mode_edit</i>
                <% end -%>
              <% end -%>
            </div>
            <div class="col-md-12"><%= review.comment %> </div>
          </div>
        </div>
        <hr />
      <% end %>
    <% end %>
    <% if user_signed_in? %>
    <% unless @reviewed_users.include?(current_user.id) %>
      <%= link_to "Add your opinion", new_movie_reeview_path(@movie), class: "btn btn-raised btn-info" %>
    <% end %>
    <% end -%>
      <br /><br /><br /><br />
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="sub-headings"><strong>Title:</strong></td>
            <td class="description"><%= @movie.title %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Movie length:</strong></td>
            <td class="description"><%= @movie.movie_length %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Starring:</strong></td>
            <td class="description"><%= @movie.cast %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Director:</strong></td>
            <td class="description"><%= @movie.director %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Produced by:</strong></td>
            <td class="description"><%= @movie.producer %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Story by:</strong></td>
            <td class="description"><%= @movie.story %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Dialogues:</strong></td>
            <td class="description"><%= @movie.dialogues %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Screenplay by:</strong></td>
            <td class="description"><%= @movie.screenplay %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Music by:</strong></td>
            <td class="description"><%= @movie.music %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Lyricists:</strong></td>
            <td class="description"><%= @movie.lyricists %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Cinematography:</strong></td>
            <td class="description"><%= @movie.cinematography %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Genre:</strong></td>
            <td class="description"><%= @movie.genre %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Language:</strong></td>
            <td class="description"><%= @movie.language %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Rating:</strong></td>
            <td class="description"><%= @movie.rating %></td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Public Rating:</strong></td>
            <td class="description">
              <% if @movie.reeviews.blank? %>
                --
              <% else %>
                <%= @movie.average %>/5
              <% end -%>
            </td>
          </tr>
          <tr>
            <td class="sub-headings"><strong>Country:</strong></td>
            <td class="description"><%= @movie.country_name %></td>
          </tr>             
        </tbody>
      </table>
    </div>
  </div>  
</div>

