<br>
<%= form_for([@movie, @reeview]) do |f| %>
  <% if @reeview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reeview.errors.count, "error") %> prohibited this reeview from being saved:</h2>

      <ul>
      <% @reeview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
    <div class="col-md-1 col-xs-4">
      <%= f.label :rating %><br>
      <%= f.number_field :rating, max: 5, min: 1, class: "form-control" %>
    </div>
  </div><br>
  <div class="row field">
    <div class="col-md-4">
      <%= f.label :comment %><br>
      <%= f.text_area :comment,class: "form-control"  %>
    </div>
  </div><br>
  <div class="actions">
    <%= f.submit :Submit,class: "btn btn-raised btn-danger"  %>
  </div><br>
<% end %>
