<div class="devise">
  <div class="col-md-2 col-md-offset-5 col-xs-8 col-xs-offset-2">
    <h2 class="center labe">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class:"labe" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control labe transparent-input" %>
      </div><br />

      <div class="field">
        <%= f.label :password, class:"labe" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control labe transparent-input" %>
      </div><br />

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"labe" %>
        </div><br />
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "transparent-input labe" %>
      </div><br />
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<div class="gradient">
</div>
<div class="container-fluid" id="one">
</div>